/FlowNotes.xcodeproj/project.xcworkspace/xcuserdata/jfSagasti.xcuserdatad/IDEFindNavigatorScopes.plist
/FlowNotes.xcodeproj/xcuserdata/jfSagasti.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/FlowNotes.xcodeproj/xcuserdata/jfSagasti.xcuserdatad/xcschemes/xcschememanagement.plist
